@import 'colors/one-dark.css';

* {
    border: none;
    font-family: "Symbols Nerd Font Mono";
    min-height: 0;
    padding: 0;
    margin: 0;
}

window#waybar {
    background: transparent;
}

tooltip {
    background: @bg0;
    border: 1px solid @bg3;
    border-radius: 12px;
}

tooltip label {
    color: @fg;
    padding: 5px;
}

#workspaces {
    background-color: @bg0;
    padding: 5px 3px;
    margin: 0 0 0 12px;
    border-radius: 10px;
    border: 1px solid @bg1;
    color: @orange;
}

#workspaces button {
    padding: 0px 6px;
    margin: 0px 3px;
    border-radius: 50px;
    color: transparent;
    background-color: @bg1;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background-color: @yellow;
    color: @bg0;
    min-width: 50px;
    transition: all 0.3s ease-in-out;
    font-size: 13px;
}

#workspaces button:hover {

    background-color: @yellow;
    color: @bg0;


    border-radius: 15px;
    min-width: 50px;


}

#workspaces button.urgent {
    background-color: @red;
    color: @bg0;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}

#battery {
    background-color: @bg0;
    border-radius: 20px;
    padding: 0px 18px 0px 18px;
    min-width: 50px;
    margin: 0 0 0 12px;
    background-size: 400% 400%;
    color: @orange;
}

#pulseaudio,
#network,
#clock,
#custom.notification {
    background-color: @bg0;
    padding: 0px 18px 0px 18px;
    margin: 0 0 0 12px;
    border-radius: 50px;
    border: 1px solid @bg1;
    color: @orange;
}

#clock {
    color: @orange
}

#custom-notification {
    background-color: @bg0;
    padding: 0px 19px 0px 18px;
    margin: 0 12px 0 12px;
    border-radius: 50px;
    border: 1px solid @bg1;
    color: @orange;
}



#pulseaudio {
    color: @orange;
}

#network {
    color: @orange;
}

#battery.charging,
#battery.plugged {
    color: @green;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: @bg0;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
